.main-sidebar {
  background-color: rgb(3, 110, 104);
}

.nav-sidebar>.nav-item .nav-link .nav-icon {
  font-size: 0.9rem;
}

ul li {
  color: #FFFF;
  font-size: 14px;
}

.nav-sidebar li:hover {
  background-color: #ade35b;
}

.nav-sidebar li:hover p,
.nav-sidebar li:hover i {
  color: black;
}


.nav-item li:hover {
  background-color: blue;
}

.nav-item li:hover p,
.nav-item li:hover p {
  color: #FFFF;
}