.card-title {
    text-align: center ;
    padding-top: 10px;
    margin-bottom: 0;
   

}

.card-text{
    text-align: center;
    font-weight: semi-bold;
    font-size: large;
}
/* .header{
    padding: 0.5rem;
    border-radius: 5px  5px 0 0 ;
} */